@model Core.Common.ViewModels.ProductViewModel


<div class="row col-md-3">
    <div class="mb-5">
        <div class="card">
            <img class="card-img-top" src="@Model.PhotoBase64.First()" alt="..."/>
            <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder">@Model.ProductName</h5>
                    $@Model.Price.ToString("0.##")
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <a class="btn btn-outline-dark mt-auto my-2 mx-auto" href="#">в корзину</a>
                <a class="btn btn-outline-dark mt-auto my-2 mx-auto" data-url="Product/Details/?productId=@Model.Id" onclick="modals.openModal(this)" data-toggle="modal">
                    подробнее
                </a>
            </div>
        </div>
    </div>
</div>