@using WebApp.Views.Utils
@model Core.Common.ViewModels.MainEntityViewModels.ProductViewModel


<div class="row col-sm-3">
    <div class="mb-5">
        <div class="card">
            <img class="card-img-top" src="@Model.CoverPhotoBase64" alt="..."/>
            <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder">@Model.ProductName</h5>
                    $@UiHelper.GetNormalizePriceString(@Model.Price)
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <form method="post">
                    <a class="btn btn-outline-dark mt-auto my-2 mx-auto"
                       asp-controller="Cart"
                       asp-action="Add"
                       asp-route-productId="@Model.Id">
                        в корзину
                    </a>
                    <a
                        class="btn btn-outline-dark mt-auto my-2 mx-auto"
                        data-url="Product/Details/?productId=@Model.Id"
                        onclick="modals.openModal(this)"
                        data-toggle="modal">
                        подробнее
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>