@model Core.Common.CreateViewModels.CreateProviderViewModel

<div class="container">
    <div class="row">
        <div class="col-md-5 bg-light rounded mx-auto">
            <div class="container">
                <div class="row-cols-1 py-3">
                    <h1 class="text-center">Заявка на поставщика</h1>
                </div>
            </div>
            <form method="post" asp-action="AddRequest">
               <input type="hidden" asp-for="UserId">
                <div asp-validation-summary="ModelOnly" class="text-danger "></div>
                <div class="col-sm-9 mx-auto">
                    <div class="container">
                        <fieldset>
                            <div class="mb-3">
                                <label for="provider-name" class="form-label">Имя поставщика:</label>
                                <input asp-for="Name" type="text" value="@Model.Name" id="provider-name" class="form-control" placeholder="Имя поставщика">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="input-description" class="form-label">Описание:</label>
                                <input asp-for="Description" type="text" value="@Model.Description" id="input-description" class="form-control" placeholder="Описание">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="container my-1">
                                <div class="row-cols-1 py-2">
                                    <input type="submit" value="Отправить" class="btn btn-primary"/>
                                </div>
                                <div class="row-cols-1 py-2">
                                    <a asp-controller="Profile" asp-action="Index" class="btn btn-secondary">Вернутся назад</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
