@model Guid

<div class="container">
    <div class="row">
        <div class="col-md-5 bg-light rounded mx-auto">
            <div class="mb-3">
                <p class="bg-warning">Запрос под номером создан: @Model</p>
            </div>
        </div>
    </div>
</div>