<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"]Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/search.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="-500 -2800 3000 3000">
        <g class="logo">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M200 2557 c0 -3 59 -83 130 -177 122 -162 130 -175 130 -218 0 -42 -4 -49 -74 -122 -40 -42 -96 -110 -123 -151 -48 -71 -123 -210 -123 -226 0 -5 22 33 48 82 53 101 121 204 148 225 15 11 14 9 -2 -10 -44 -52 -108 -156 -150 -244 -174 -368 -149 -798 68 -1151 17 -27 24 -44 16 -37 -26 21 -125 224 -152 310 -75 238 -75 497 -1 729 13 42 22 79 20 81 -2 2 -15 -33 -29 -78 -96 -303 -69 -629 76 -912 49 -96 143 -231 192 -277 14 -14 26 -29 26 -34 0 -5 -30 -59 -67 -121 -78 -132 -75 -126 -70 -126 6 0 147 236 147 245 0 4 -20 30 -45 58 -25 27 -55 64 -66 81 l-21 31 22 -25 c11 -14 44 -51 72 -83 39 -45 48 -62 42 -76 -20 -40 -189 -320 -192 -317 -1 2 7 21 19 42 28 48 10 33 -20 -18 l-22 -38 928 1 928 0 173 227 c193 253 217 284 206 262 -4 -8 -88 -119 -186 -247 -98 -127 -178 -235 -178 -238 0 -4 76 91 168 212 219 284 229 298 215 290 -6 -4 -13 -3 -15 2 -1 6 -37 11 -80 12 l-76 2 28 46 c214 348 239 780 66 1147 -42 88 -106 192 -150 244 -16 19 -17 21 -2 10 27 -21 95 -124 148 -225 26 -49 48 -87 48 -82 0 16 -75 155 -123 227 -51 75 -231 270 -250 270 -5 0 -3 -8 4 -17 11 -15 10 -14 -9 1 -24 21 -29 31 -9 20 6 -4 3 2 -7 14 -23 26 -44 30 -25 5 11 -16 11 -16 -1 -5 -8 7 -15 18 -15 24 0 6 -6 13 -14 16 -9 3 -11 0 -6 -9 5 -8 4 -11 -1 -6 -5 5 -9 14 -9 19 0 6 -6 13 -14 16 -9 3 -11 0 -6 -8 5 -9 4 -11 -4 -6 -6 4 -9 11 -6 16 8 12 -53 43 -67 34 -7 -4 -8 -3 -4 5 8 12 -70 50 -192 95 -86 31 -236 59 -288 53 -36 -3 -35 -4 11 -5 61 -3 247 -44 295 -66 19 -9 26 -14 15 -10 -157 48 -377 80 -467 69 -32 -4 -38 -3 -23 4 17 8 18 10 3 10 -15 1 -18 12 -20 69 l-2 67 -6 -80 -6 -80 -2 78 -2 77 -475 0 c-261 0 -475 -2 -475 -4 0 -3 50 -70 110 -150 61 -80 109 -146 106 -146 -3 0 -47 55 -97 123 -101 133 -139 181 -139 174z m868 -685 c-3 -559 -4 -600 -21 -616 -17 -17 -17 -19 0 -31 17 -13 17 -14 0 -32 -19 -22 -23 -53 -6 -53 7 0 8 -4 2 -12 -5 -7 -10 -37 -11 -67 -2 -41 2 -57 15 -68 10 -8 13 -12 7 -9 -13 6 -23 -48 -19 -99 7 -94 6 -93 15 -65 5 16 8 -9 9 -73 1 -60 -3 -96 -9 -92 -5 3 -7 12 -4 19 3 8 1 17 -5 21 -7 4 -11 -13 -11 -50 0 -35 4 -54 10 -50 5 3 11 16 11 28 3 35 17 -83 18 -145 l1 -58 593 -1 592 -1 -57 -26 c-70 -34 -85 -47 -166 -152 -37 -47 -70 -88 -75 -91 -5 -3 -336 -7 -737 -7 -721 -1 -730 -1 -771 -22 -22 -12 -43 -19 -46 -17 -2 3 37 76 88 163 98 170 97 169 98 228 l1 39 25 -23 25 -23 1 254 c1 162 4 238 10 209 6 -37 13 -257 10 -360 0 -29 18 -70 31 -70 5 0 6 5 3 10 -3 6 -1 10 4 10 12 0 15 -26 4 -33 -5 -2 -2 -2 5 -1 6 2 12 -1 12 -6 0 -6 7 -10 15 -10 8 0 15 -4 15 -10 0 -5 4 -10 9 -10 4 0 6 11 3 25 -3 20 0 25 15 25 12 0 19 7 19 19 0 11 -3 19 -6 19 -3 -1 -13 2 -23 7 -14 6 -15 10 -6 16 10 6 10 11 0 23 -12 14 -10 16 13 16 14 0 26 3 26 8 0 12 53 12 83 0 21 -8 31 -8 40 1 8 8 8 11 -1 11 -7 0 -12 9 -12 20 0 14 5 18 17 13 11 -4 14 -3 9 5 -4 7 -2 12 4 12 7 0 10 7 7 15 -4 8 -2 17 4 21 6 4 5 12 -3 22 -12 15 -11 16 4 4 9 -8 14 -20 11 -28 -3 -8 0 -14 7 -14 7 0 10 -7 6 -16 -5 -14 -4 -15 9 -4 18 15 20 80 3 80 -8 0 -6 5 4 10 15 9 17 38 19 278 3 449 -1 636 -14 644 -7 4 -8 8 -2 8 6 0 12 14 13 30 1 17 -3 30 -9 30 -8 0 -9 4 0 14 6 7 10 32 9 55 -1 31 -5 41 -17 39 -24 -4 -31 -20 -19 -41 7 -14 7 -17 -1 -13 -14 9 -14 -7 0 -21 8 -8 5 -14 -12 -23 -19 -11 -24 -10 -36 6 -7 10 -13 21 -13 25 0 4 -7 10 -16 13 -8 3 -12 2 -9 -4 3 -6 2 -10 -4 -10 -5 0 -13 5 -16 10 -4 6 -11 8 -16 5 -5 -4 -9 -1 -9 5 0 6 12 16 26 22 25 12 25 12 5 20 -24 8 -48 2 -75 -21 -18 -15 -18 -15 -12 7 7 21 5 22 -21 16 -15 -4 -36 -11 -47 -16 -12 -7 -16 -7 -12 0 3 5 -3 12 -14 15 -25 7 -31 -3 -30 -50 2 -65 -13 -573 -17 -569 -2 2 -4 20 -5 40 -1 29 -6 38 -23 42 -32 8 -35 57 -35 515 l0 389 23 0 c39 0 38 10 -5 69 -63 87 -89 112 -143 137 l-50 24 333 0 334 0 -4 -598z m485 394 c306 -79 569 -291 709 -571 38 -74 88 -222 88 -257 0 -23 -12 -17 -17 7 -5 23 -9 38 -18 60 -5 11 -16 40 -25 65 -13 32 -24 46 -40 48 -18 3 -21 0 -16 -14 12 -31 -2 -10 -35 52 -79 149 -218 307 -348 393 -135 89 -306 151 -473 172 -83 10 -127 27 -111 43 4 3 -20 6 -52 6 -52 0 -56 2 -44 16 21 26 253 14 382 -20z m-153 -856 c21 -11 47 -32 58 -47 33 -47 79 -145 97 -208 17 -61 38 -103 128 -255 112 -188 141 -232 164 -247 22 -14 26 -15 39 -1 14 14 13 24 -10 97 -14 45 -26 94 -26 109 0 15 -6 63 -14 107 -17 100 -31 252 -21 243 4 -4 11 -44 16 -89 13 -118 38 -229 58 -264 10 -16 24 -46 31 -65 7 -19 18 -41 23 -47 13 -18 41 -1 67 43 19 29 22 44 16 87 l-6 52 21 -35 c20 -33 22 -33 35 -15 34 46 73 219 74 330 1 44 3 47 12 27 17 -35 -6 -206 -42 -316 -40 -119 -108 -232 -195 -323 -52 -54 -77 -73 -95 -72 -27 0 -74 17 -52 18 17 1 15 52 -4 79 -20 29 -52 29 -59 0 -12 -56 -13 -77 -2 -81 17 -5 -272 -17 -425 -17 l-128 0 0 143 c0 78 4 147 8 152 4 6 25 11 47 13 99 8 159 76 137 156 l-10 41 18 -23 c11 -13 22 -39 26 -58 7 -40 12 -41 48 -13 45 35 58 82 61 209 2 94 -1 121 -16 151 -20 40 -59 84 -104 116 -38 28 -26 29 25 3z">
            </path>
        </g>
    </symbol>
</svg>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="42" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a type="button" class="nav-link mx-2 px-2 text-white" asp-controller="Product" asp-action="Index">Товары</a>
                </li>
                <li>
                    <a type="button" class="nav-link px-2 text-white" asp-controller="ProductGroup" asp-action="Index">Группы товаров</a>
                </li>
                <li>
                    <a type="button" class="nav-link px-2 text-white" asp-controller="Product" asp-action="Index">История продаж</a>
                </li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <div class="d-flex justify-content-center h-100">

                    <div class="searchbar mx-3">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="" class="search_icon">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
            </form>

            <div class="text-end">
                @if (User.Identity.IsAuthenticated)
                {
                    <a type="button" class="btn btn-outline-light me-2" asp-controller="Profile" asp-action="Index">Профиль</a>
                    <a type="button" class="btn btn-warning me-2" asp-controller="Account" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a type="button" class="btn btn-outline-light me-2" asp-controller="Account" asp-action="Login">Login</a>
                    <a type="button" class="btn btn-warning" asp-controller="Account" asp-action="Register">Sign-up</a>
                }
            </div>
        </div>
    </div>
</header>

<div class="container py-3">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>