<div class="modal" id="modal-add" role="dialog" aria-labelledby="modal-add-label" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-body">
            <p>@Model</p>
        </div>
    </div>
</div>