@model Core.Common.ViewModels.MainEntityViewModels.ProductViewModel

<div class="animate__animated animate__zoomIn">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="card">
            <div class="row row-cols-lg-3">
                @await Html.PartialAsync("_ProductDetailsPhotoChange", @Model)
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mb-3 text-center">@Model.ProductName</h3>
                        @await Html.PartialAsync("_DetailsPrice")
                        <dl class="item-property">
                            <dt>Прозводитель</dt>
                            <dd>
                                <p>@Model.Manufacturer.Name</p>
                            </dd>
                        </dl>

                        <dl class="item-property">
                            <dt>Поставщик</dt>
                            <dd>
                                <p>@Model.Provider.Name</p>
                            </dd>
                        </dl>

                        <dl class="item-property">
                            <dt>Категория</dt>
                            <dd>
                                <p>@Model.Category.Name</p>
                            </dd>
                        </dl>
                        <hr>
                        <div class="container">
                                <a href="#" class="btn btn-l btn-primary text-uppercase my-2"> <i class="far fa-credit-card"></i> Купить сейчас </a>
                                <a href="#" class="btn btn-lg btn-outline-danger text-uppercase my-2"> <i class="fas fa-shopping-cart"></i> Добавить в корзину </a>
                        </div>
                    </article>
                </aside>
            </div>
        </div>
    </div>
</div>