
section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 140px 0;
}

.card {
    position: relative;
    min-width: 200px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px 30px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .5s;
}

.card:hover {
    transform: scale(1.04);
}

.card:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    transform: skewY(-1deg) scale(1.5);
}

.card a {
    display: block;
    position: relative ;
    z-index: 2 ;
    background-color: #fff ;
    color: #000000 ;
    width: auto !important;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0, .1)
}

.card a:hover {

}

.discount-badge{
    background-color: #dc1010 !important;
}

