@model Core.Common.ViewModels.CartViewModel

<link rel="stylesheet" href="~/css/cart.css"/>
<div class="container-fluid">
    <div class="row align-content-center">
        <div class="col-sm">
            <div class="card">
                <div class="table-responsive mx-auto">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th>Товар</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in @Model.OrderItems)
                        {
                            @await Html.PartialAsync("_Product", @item)
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("_CartCost", @Model)
    </div>
</div>